<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=mainDatabaUfpvy;pwd=&quot;I]L|9;3+KU?S&quot;;Database=mainDatabase" name="mainDatabase" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
